<%- include('../partials/header') -%>
<div class="homepage">
  <h2>All Facespace members</h2>
  <ul class="homepage__all">
    <% users.forEach(existing => { %>
      <li class="homepage__all--user">
        <% if (user.friends && user.friends.includes(existing)) { %>
          <div class="ribbon">
            <span>Friend</span>
          </div>
        <% } %>
        <a href=<%= `../users/${existing._id}` %>><img src="<%= existing.avatarUrl %>" /></a>
      </li>
    <% }) %>
  </ul>
</div>
<%- include('../partials/footer') -%>
